#grid-layout-1 {
    position: relative;
    height: 100%;
    .grid-container {
        display: grid;
        grid-template-columns: auto 27% 27% 27%;
        grid-template-rows: 8% 30% auto 10%;
        grid-template-areas: //
        "sidebar header header header" //
        "sidebar sect1 sect2 sect3" //
        "sidebar main main main" //
        "sidebar footer footer footer";
        height: 100%;
        * {
            border: 1px solid #000;
            color: #000;
        }
    }
    aside {
        grid-area: sidebar;
        background-color: #2196F3;
        text-align: center;
        &:before {
            content: "sidebar";
            display: inline-block;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
        }
    }
    header {
        grid-area: header;
        background-color: #1b71b8;
        text-align: center;
        &:before {
            content: "header";
            display: inline-block;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
        }
    }
    section:nth-of-type(1) {
        background-color: #68bbff;
        text-align: center;
        &:before {
            content: "section-1";
            display: inline-block;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
        }
    }
    section:nth-of-type(2) {
        background-color: #88c9ff;
        text-align: center;
        &:before {
            content: "section-2";
            display: inline-block;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
        }
    }
    section:nth-of-type(3) {
        background-color: #9fd4ff;
        text-align: center;
        &:before {
            content: "section-3";
            display: inline-block;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
        }
    }
    main {
        grid-area: main;
        background-color: #357cb6;
        text-align: center;
        &:before {
            content: "main";
            display: inline-block;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
        }
    }
    footer {
        grid-area: footer;
        background-color: #457399;
        text-align: center;
        &:before {
            content: "footer";
            display: inline-block;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
        }
    }
}

#grid-layout-2 {
    position: relative;
    .tpd-grid-template-rows {
        display: grid;
        grid-template-rows: 50px 60px 70px;
        * {
            border: 1px solid #000;
            color: #000;
            background-color: #fff;
        }
    }
    .tpd-grid-template-rows2 {
        display: grid;
        grid-template-rows: [first] 50px [second] 60px [third] 70px;
        * {
            border: 1px solid #000;
            color: #000;
            background-color: #fff;
        }
    }
    .tpd-grid-template-rows3 {
        display: grid;
        grid-template-rows: [row1-start] 50px [row1-end row2-start] 60px [row2-end] 70px;
        * {
            border: 1px solid #000;
            color: #000;
            background-color: #fff;
        }
    }
    .tpd-grid-template-columns {
        display: grid;
        grid-template-columns: 100px 200px 300px auto;
        * {
            border: 1px solid #000;
            color: #000;
            background-color: #fff;
        }
    }
    .tpd-grid-template-1 {
        display: grid;
        grid-template-rows: 100px 100px 100px auto;
        grid-template-columns: 100px 100px 100px auto;
        * {
            border: 1px solid #000;
            color: #000;
            background-color: #fff;
        }
    }
    .tpd-grid-template-2 {
        display: grid;
        grid-template-rows: repeat(2, 100px);
        grid-template-columns: repeat(6, 100px);
        * {
            border: 1px solid #000;
            color: #000;
            background-color: #fff;
        }
    }
    .items {
        text-align: center;
        padding: 20px;
        &:before {
            content: "divs";
            display: inline-block;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
        }
    }
}

#grid-layout-3 {
    .tpd-grid-template-areas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 3fr);
        grid-template-areas: //
        "header header header" //
        "main main sidebar" //
        "footer footer footer" //
        ;
        * {
            border: 1px solid #000;
            color: #000;
        }
    }
    header {
        grid-area: header;
        text-align: center;
        background-color: var(--primary);
        &:before {
            content: "header";
            display: inline-block;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
        }
    }
    main {
        grid-area: main;
        text-align: center;
        background-color: var(--green-500);
        &:before {
            content: "main";
            display: inline-block;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
        }
    }
    aside {
        grid-area: sidebar;
        text-align: center;
        background-color: var( --red-400);
        &:before {
            content: "sidebar";
            display: inline-block;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
        }
    }
    footer {
        grid-area: footer;
        text-align: center;
        background-color: var(--blue-500);
        &:before {
            content: "sidebar";
            display: inline-block;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
        }
    }
}

.product-info-box .con {
    * {
        white-space: normal !important;
    }
}