@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
.main-wrap {
    position: relative;
    height: 100vh;
    width: 100%;
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.main-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: rgba(0, 0, 0, 0.6)
}

.main-logo2 {
    position: absolute;
    top: 170px;
    font-size: 150px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1)
}

.main-txt {
    font-size: 20px !important;
    font-weight: 400;
    color: #000;
}

.font-notosans {
    font-family: 'Noto Sans KR';
}

.t-card {
    height: 300px !important;
}