$prefix: 'tpod'; //CSS 접두어를 해당회사의 css로 만들때
$primary-color:#0d6efd;
$primary-color-hover:#079f9b;
$font-main-color:#000;
$font-main-hover-color:#000;
$font-sub-color:#818181;
$font-stack: 'Noto Sans KR',
sans-serif;
//form border effect color
$form-input-border-effect-color:$primary-color;
$primary:#0d6efd;
$secondary:#6c757d;
$success:#198754;
$info:#0dcaf0;
$warning:#ffc107;
$danger:#dc3545;
$light:#f8f9fa;
$dark:#212529;
$white:#fff;
$theme-colors: ( //
"primary": $primary, //
"secondary": $secondary, //
"success": $success, //
"info": $info, //
"warning": $warning, //
"danger": $danger, //
"light": $light, //
"dark": $dark, //
"white": $white //
) !default;
$mobile:1170px;
$mobile-sm:726px;
$tablet:1024;
@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin mobile-sm {
    @media (max-width: $mobile-sm) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}


/* default styles here for older browsers. 
       I tend to go for a 600px - 960px width max but using percentages
    */

@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
}

@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}

@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
}

@media only screen and (device-width: 768px) {
    /* default iPad screens */
}


/* different techniques for iPad screening */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}