@import 'variable';
@import 'reset';
@import 'common';
@import 'props';
@import 'margin';
@import 'grid';
@import 'layout';
@import 'card';
@import 'header';
@import 'breadcrumb';
@import 'tabs';
@import 'switch';
@import 'forms';
@import 'typography';
@import 'slider';
@import 'blockquotes';
@import 'alert';
@import 'dividers';
@import 'modal';
@import 'navigation';
@import 'airbnb';
@import 'toolbar';
@import 'shadow';
@import 'avatar';
@import 'backgroundColors';
@import 'appbars';
@import 'banners';
@import 'gridtemplate';
@import 'gnb';
@import 'list';
@import 'board';
@import 'mobile';
@import 'pcmenu';
#tpod-go-back {
    cursor: pointer;
}


/* Upload Images */

.delBtn {
    position: absolute;
    right: 0;
    top: 0;
}

#fileBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.file-box {
    position: relative;
    display: inline-block;
    margin: 15px;
    width: 25%;
    border: 1px solid #000;
    padding: 10px;
}

#real-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.real-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.file-input-area {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
}

.browse-btn {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000;
    cursor: pointer;
}

#preview {
    width: auto;
    height: 100px;
}

#preview img {
    max-width: 100%;
    height: auto;
}

.preview {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

//마지막 커스텀을 위해 CSS를 하나더 만든다.
//@import 'custom.css';
//@import url(custom);