.tpod-search-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 50px;
    background-color: #fff;
    //box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];
    &:hover {
        -webkit-box-shadow: 8px 4px 9px 0px rgba(0, 0, 0, 0.22);
        box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.06);
    }
    &:focus {
        background-color: #fff;
    }
    &:active {
        background-color: #fff;
    }
    .serach-box {
        flex: 1;
        height: 66px;
        font-size: 14px;
        border-radius: 50px;
        border: 0px solid #ddd;
        overflow: hidden;
        &:hover {
            background-color: #f7f7f7;
        }
        .txt-wrap {
            position: relative;
            top: 13px;
            left: 30px;
            .input-txt {
                position: relative;
            }
            input {
                border-bottom: 1px solid #ddd;
                background-color: transparent;
            }
        }
    }
}

.search-wrap {
    position: relative;
    width: 90%;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 50px;
    padding: 0 20px;
    overflow: hidden;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 30px;
    //box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];
    &:hover {
        -webkit-box-shadow: 8px 4px 9px 0px rgba(0, 0, 0, 0.22);
        box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.06);
    }
    .serach-box {
        position: relative;
        height: 40px;
        font-size: 14px;
        // border-bottom: 1px solid #ddd;
        width: 97%;
        .label_txt {
            position: absolute;
            top: 0px;
            left: 0;
            z-index: 10px;
        }
        &:active {
            .label_txt {
                color: red;
            }
        }
        &:active {
            &:before {
                width: 50%;
                left: 0;
            }
            &:after {
                width: 50%;
                right: 0;
            }
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            background-color: red;
            width: 0;
            left: 50%;
            z-index: 10;
            transition: 0.5s;
        }
        .search-value {
            font-size: 14px;
            line-height: 1;
            padding: 5px 0;
            border: none;
            color: #000;
            margin-top: 5px;
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }
}

.search-wrap2 {
    position: relative;
    width: 90%;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 50px;
    padding: 0 20px;
    overflow: hidden;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 30px;
    //box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];
    &:hover {
        -webkit-box-shadow: 8px 4px 9px 0px rgba(0, 0, 0, 0.22);
        box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.06);
    }
    .serach-box {
        position: relative;
        height: 40px;
        font-size: 14px;
        // border-bottom: 1px solid #ddd;
        width: 97%;
        .search-value {
            font-size: 14px;
            line-height: 1;
            padding: 0;
            border: none;
            color: #000;
            margin-top: 5px;
            position: absolute;
            width: 100%;
            bottom: 0;
        }
        label {
            transition: 0.5s;
        }
        .effect-1~.focus-border {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: red;
            transition: 0.4s;
        }
        .effect-1~.focus-border {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: red;
            transition: 0.4s;
        }
        .effect-1:focus~.focus-border {
            width: 100%;
            transition: 0.4s;
        }
        .effect-1:focus~label {
            color: red;
        }
    }
}

$form-input-border-effect-color:red;
.search-wrap3 {
    position: relative;
    width: 90%;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 50px;
    padding: 0 20px;
    // overflow: hidden;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 30px;
    //box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];
    &:hover {
        box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
    }
    .search-value {
        font-size: 14px;
        line-height: 1;
        padding: 0;
        border: none;
        color: #000;
        margin-top: 5px;
        position: absolute;
        width: 100%;
        bottom: 10px;
    }
    label {
        position: absolute;
        top: 10px;
        transition: 0.5s;
    }
    .effect-20~.focus-border:before,
    .effect-20~.focus-border:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $form-input-border-effect-color;
        transition: 0.3s;
    }
    .effect-20~.focus-border:after {
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
    }
    .effect-20~.focus-border i:before,
    .effect-20~.focus-border i:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 0;
        background-color: $form-input-border-effect-color;
        transition: 0.4s;
    }
    .effect-20~.focus-border i:after {
        left: auto;
        right: 0;
        top: auto;
        bottom: 0;
    }
    .effect-20:focus~.focus-border:before,
    .effect-20:focus~.focus-border:after,
    .has-content.effect-20~.focus-border:before,
    .has-content.effect-20~.focus-border:after {
        width: 100%;
        transition: 0.3s;
    }
    .effect-20:focus~.focus-border i:before,
    .effect-20:focus~.focus-border i:after,
    .has-content.effect-20~.focus-border i:before,
    .has-content.effect-20~.focus-border i:after {
        height: 100%;
        transition: 0.4s;
    }
    .effect-20~label {
        position: absolute;
        width: 100%;
        color: #aaa;
        transition: 0.3s;
        z-index: 0;
        letter-spacing: 0.5px;
    }
    .effect-20:focus~label,
    .has-content.effect-20~label {
        top: 5px;
        font-size: 12px;
        color: $form-input-border-effect-color;
        transition: 0.3s;
    }
}

.search-wrap3 .search-value .effect-20:focus {
    border: 1px solid #000;
}

.search-wrap4 {
    position: relative;
    width: 90%;
    border-bottom: 0.5px solid #ddd;
    background-color: #fff;
    padding: 0 20px;
    overflow: hidden;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 15px;
    transition: border 0.5s;
    .search-value {
        font-size: 20px;
        line-height: 1;
        padding: 0;
        border: 0px solid #000;
        color: #000;
        position: absolute;
        width: 92%;
        z-index: 20;
    }
    .search-value::placeholder {
        font-size: 20px;
    }
    label {
        position: absolute;
        top: 10px;
        transition: 0.5s;
    }
}

.product-list {
    // padding-top: 70px;
}

.product-detail {
    padding-top: 50px;
    width: 1200px;
    margin: 0 auto;
    .header-info {
        position: relative;
        .title {
            font-size: 26px;
            font-weight: 700;
            color: #000;
        }
        .addr {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
            color: #666;
            align-items: center;
            .material-icons-outlined {
                vertical-align: sub;
                font-size: 20px;
            }
            .review-star {
                color: red;
            }
        }
        .shared-button-area {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            .material-icons-outlined {
                vertical-align: sub;
                font-size: 20px;
                margin-right: 5px;
            }
        }
    }
    .detail-img {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 50px;
        justify-content: space-evenly;
        height: 590px;
        min-height: 590px;
        border-radius: 10px;
        overflow: hidden;
        img {
            object-fit: cover;
            min-height: 100%;
        }
        .d-1 {
            width: 50.333333%;
            overflow: hidden;
            margin-right: 10px;
        }
        .d-2 {
            margin-right: 10px;
            width: 25.333333%;
            img {
                object-fit: contain;
                min-height: 100%;
            }
            .d-2-t {
                margin-bottom: 10px;
            }
        }
        .d-3 {
            width: 25.333333%;
            .d-3-t {
                margin-bottom: 10px;
            }
        }
        .d-4 {
            width: 25.333333%;
        }
        .d-5 {
            width: 25.333333%;
        }
    }
}

.airbnb-header {
    display: flex;
    flex-direction: wrap;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px 0;
    align-items: center;
    .logo {
        padding-top: 0;
        padding-right: 30px;
    }
}

.airbnb-gnb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    li {
        align-self: flex-end;
        a {
            text-align: center;
            display: block;
            padding: 25px 20px 25px 20px;
            border-bottom: 3px solid rgba(81, 171, 243, 0);
            transition: 0.5s;
            &:hover {
                border-bottom: 3px solid rgba(81, 171, 243, 1);
            }
        }
    }
}

.airbnb-divider {
    background-color: #ddd;
    height: 1px;
}

.product-detail-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    .bg {
        display: block;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        width: 25%;
        height: 373px;
        max-height: 350px;
    }
}

.product-info-box {
    h5 {
        font-size: 18px;
        color: var(--gray-800);
        font-weight: 400;
        margin-bottom: 10px;
    }
    border-top: 1px solid #f1f3f5;
    border-bottom: 1px solid #f1f3f5;
    padding: 30px 0;
    .con {
        line-height: 1.7em;
        font-weight: 300;
        color: var(--gray-500);
    }
}

.attract-point {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -0.4px;
    margin: 24px 0px 8px;
    .nor {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.4px;
        color: var(--gray-600);
        margin-bottom: 5px;
        .material-icons-outlined {
            font-size: 18px;
            margin-right: 5px;
        }
    }
    .tag {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 15px;
        li {
            a {
                color: var(--gray-500);
                background-color: #f7f7f7;
                padding: 5px 10px;
                margin-right: 10px;
                font-size: 14px;
            }
        }
    }
}

.product-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .lt {
        width: 800px;
    }
    .rt {
        margin-left: 60px;
    }
}

.facility {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 2;
    li {
        width: 25%;
        display: block;
        .material-icons-outlined {
            font-size: 24px;
            font-weight: normal !important;
            line-height: 2;
            margin-right: 5px;
            color: var(--gray-500);
            vertical-align: middle;
        }
    }
}

.rules {
    li {
        position: relative;
        padding-left: 10px;
        &:before {
            content: '';
            position: absolute;
            left: 0px;
            top: 13px;
            background-color: var(--gray-500);
            width: 4px;
            height: 4px;
        }
    }
}

.time {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: var(--gray-500);
    position: relative;
    font-size: 1.5rem;
    font-weight: 200;
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -20%);
        background-color: var(--gray-200);
        transform: rotate(20deg);
        width: 1px;
        height: 50px;
    }
    .check-in {
        line-height: 1.5;
        padding-left: 20%;
    }
    .check-out {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20%;
        line-height: 1.5;
    }
}

.aside {
    background-color: #fff;
    .reserve {
        width: 314px;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        margin-top: 30px;
        transition: 0.3s;
        position: relative;
        &:hover {
            box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.05);
        }
        h5 {
            font-size: 17px;
            font-weight: 500;
        }
        .calendars {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            .txt {
                flex: 1;
                border: 1px solid #ddd;
                padding: 10px;
                margin-top: 10px;
                &:hover {
                    border: 1px solid #000;
                    z-index: 1;
                }
                .t-1 {
                    font-size: 14px;
                    color: var(--gray-500);
                }
                .t-2 {
                    font-weight: 400;
                    font-size: 16px;
                    color: var(--gray-700);
                    margin-top: 5px;
                }
            }
        }
        .persons {
            flex: 1;
            border: 1px solid #ddd;
            padding: 10px;
            margin-top: -1px;
            position: relative;
            cursor: pointer;
            .arrow-down {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }
            &:hover {
                border: 1px solid #000;
                z-index: 1;
            }
            &:hover .arrow-down {
                //transform: translateY(-30%);
                // transform: rotate(180deg);
                // top: 30%;
            }
            .t-1 {
                font-size: 14px;
                color: var(--gray-500);
            }
            .t-2 {
                font-size: 16px;
                font-weight: 400;
                color: var(--gray-700);
                margin-top: 5px;
            }
        }
    }
}

.fixed {
    position: fixed;
    top: 50px;
    right: 200px;
}

.airbnb-calendar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid var(--gray-200);
    z-index: 2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1) !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 360px;
    .cal_hd_txt {
        text-align: center;
        padding: 20px 0;
    }
    .cal_body {
        margin-top: 16px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table td {
        border: 0px solid #ddd;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }
    table td span {
        display: inline-block;
        background-color: #fff;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        border-radius: 30px;
        line-height: 30px;
    }
    .box .active {
        border: none;
        background-color: var(--gray-800);
        color: #fff;
        border-radius: 50%;
    }
    .box .disabled {
        opacity: 0.3;
        cursor: not-allowed !important;
    }
    table td span:hover {
        background-color: #f7f7f7;
        color: #000;
    }
    table td span:active {
        background-color: #ff5500;
        color: #fff;
    }
    table th {
        border: 0px solid var(--gray-200);
        padding: 10px;
        text-align: center;
        vertical-align: middle;
    }
    table td span.blue {
        color: blue;
    }
    table td span.blue:active {
        color: #fff;
    }
    table td span.red {
        color: #ff5500;
    }
    .calendar {
        width: 1200px;
        margin: 0 auto;
        position: relative;
    }
    .calendar-header {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        position: relative;
    }
    .btn.calendar {
        width: 25px;
        height: 25px;
    }
    .btn.prev {
        position: absolute;
        left: 20px;
        top: 20px;
    }
    .btn.next {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .saturday {
        color: blue;
    }
    .red {
        /* border-left: 0; */
        color: red;
        position: relative;
        z-index: 1;
    }
}

.btn-sm {
    padding: 2px !important;
}

.limit-persons {
    position: absolute;
    top: 100px;
    left: 100px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid var(--gray-200);
    z-index: 2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1) !important;
    z-index: 3;
    .txtwrap {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 14px;
        margin-bottom: 15px;
        border-bottom: 1px solid var(--gray-200);
        padding-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0px;
            border-bottom: none;
        }
    }
    .lt {
        width: 100px;
        .t-1 {
            font-size: 16px;
            color: var(--gray-700);
        }
        .t-2 {
            color: var(--gray-400);
            margin-top: 5px;
        }
    }
    .rt {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-left: 60px;
        .nums {
            width: 30px;
            text-align: center;
            vertical-align: middle;
        }
        .btn-wrap {
            .material-icons-outlined {
                font-size: 20px;
            }
        }
    }
    .btn-area {
        text-align: right;
        .material-icons-outlined {
            font-size: 17px;
            margin-right: 5px;
            vertical-align: bottom;
        }
        .btn-sm {
            padding: 7px 7px !important;
            margin-right: 0;
        }
    }
}

.hide {
    display: none;
}

#date-1 {
    margin-right: 50px;
}

#date-2 {}