<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>TPOD</title>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Noto Sans koran -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.min.css">

    <script src="../js/jquery.min.js"></script>
    <script src="../js/common.js"></script>
</head>

<body>

    <!-- content : s -->
    <section class="tpod-wrapper">
        <div class="tpod-container-fluid tpod-page-title">
            <!-- Page Title : E -->
            <div class="page-title">
                <h1>Layout</h1>

            </div>
            <!-- Page Title : E -->
        </div>
        <div class="tpod-container mt-70">
            <div class="tpod-row">
                <div class="tpod-col-12">
                    <h4 class="mb-30">App Bars</h4>
                    <div class="tpod-layout-normal">
                        <div class="tpod-appbar bg-aqua box-shadow-normal border-radius-sm">
                            <button type="button" class="btn btn-transparent btn-sm btn-circle ml-5 text-color-white"><span class="material-icons-outlined">menu</span></button>
                            <div class="title">Page title</div>
                            <div class="tpod-spacer"></div>
                            <button type="button" class="btn btn-transparent btn-sm btn-circle text-color-white"><span class="material-icons-outlined">favorite</span></button>
                            <button type="button" class="btn btn-transparent btn-sm btn-circle text-color-white"><span class="material-icons-outlined">search</span></button> <button type="button" class="btn btn-transparent btn-sm btn-circle text-color-white"><span class="material-icons-outlined">more_vert</span></button>
                        </div>
                        <div class="tpod-appbar bg-success mt-50 box-shadow-sm">
                            <button type="button" class="btn btn-transparent btn-sm btn-circle ml-5 text-color-white"><span class="material-icons-outlined">menu</span></button>
                            <div class="title">Page title</div>
                            <div class="tpod-spacer"></div>
                            <button type="button" class="btn btn-transparent btn-sm btn-circle text-color-white"><span class="material-icons-outlined">favorite</span></button>
                            <button type="button" class="btn btn-transparent btn-sm btn-circle text-color-white"><span class="material-icons-outlined">search</span></button>
                            <button type="button" class="btn btn-transparent btn-sm btn-circle text-color-white"><span class="material-icons-outlined">more_vert</span></button>
                        </div>

                        <div class="tpod-appbar bg-success mt-50 box-shadow-sm">
                            <button type="button" class="btn btn-transparent btn-sm btn-circle ml-5 text-color-white"><span class="material-icons-outlined">menu</span></button>
                            <div class="title">Page title</div>
                            <div class="tpod-spacer"></div>
                            <button type="button" class="btn btn-transparent btn-sm btn-circle text-color-white"><span class="material-icons-outlined">favorite</span></button>
                            <button type="button" class="btn btn-transparent btn-sm btn-circle text-color-white"><span class="material-icons-outlined">search</span></button>
                            <button type="button" class="btn btn-transparent btn-sm btn-circle text-color-white"><span class="material-icons-outlined">more_vert</span></button>

                        </div>
                        <div class="tpod-appbar extended text-center text-color-black bg-success" style="height:100px; justify-content: center;">
                            상단 툴바 확장 공간입니다.
                        </div>

                        <div class="tpod-appbar bg-dark mt-50">
                            <button type="button" class="btn btn-transparent btn-sm btn-circle ml-5 text-color-white"><span class="material-icons-outlined">menu</span></button>
                            <div class="title">Page title</div>
                            <div class="tpod-spacer"></div>
                            <button type="button" class="btn btn-transparent btn-sm btn-circle text-color-white"><span class="material-icons-outlined">favorite</span></button>
                            <button type="button" class="btn btn-transparent btn-sm btn-circle text-color-white"><span class="material-icons-outlined">search</span></button>
                            <button type="button" class="btn btn-transparent btn-sm btn-circle text-color-white"><span class="material-icons-outlined">more_vert</span></button>
                        </div>
                        <div class="py-200 text-center bordered"> 컨텐츠 공간입니다.</div>
                    </div>

                </div>

            </div>
        </div>
    </section>
</body>

</html>