<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>TPOD</title>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Noto Sans koran -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">



    <link rel="stylesheet" type="text/css" href="../css/styles.min.css">

    <script src="../js/jquery.min.js"></script>
    <script src="../js/common.js"></script>
</head>

<body>

    <!-- content : s -->
    <section class="tpod-wrapper">
        <div class="tpod-container-fluid tpod-page-title">
            <!-- Page Title : E -->
            <div class="page-title">
                <h1>Alerts</h1>
                <span class="txt">Inspiration comes of working every day.</span>
            </div>
            <!-- Page Title : E -->
        </div>
        <div class="tpod-container mt-70">
            <div class="tpod-row tpod-flex-nowrap">
                <div class="tpod-col-12 tpod-content">
                    <h4>Default Alerts</h4>
                    <p class="mt-30 mb-10">X 버튼을 누르면 경고상자가 닫힙니다.</p>
                    <!-- Content : S -->
                    <div class="tpod-row">
                        <div class="tpod-col-6">
                            <div class="alert alert-primary">
                                <span class="material-icons-outlined close-alert" onclick="ui.closeAlert(this);">close</span>
                                <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                            </div>
                        </div>
                        <div class="tpod-col-5">
                            <div class="alert alert-secondary">
                                <span class="material-icons-outlined close-alert" onclick="ui.closeAlert(this);">close</span>
                                <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                            </div>
                        </div>
                        <div class="tpod-col-6">
                            <div class="alert alert-success">
                                <span class="material-icons-outlined close-alert" onclick="ui.closeAlert(this);">close</span>
                                <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                            </div>
                        </div>
                        <div class="tpod-col-5">
                            <div class="alert alert-info">
                                <span class="material-icons-outlined close-alert" onclick="ui.closeAlert(this);">close</span>
                                <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                            </div>
                        </div>
                        <div class="tpod-col-6">
                            <div class="alert alert-warning">
                                <span class="material-icons-outlined close-alert" onclick="ui.closeAlert(this);">close</span>
                                <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                            </div>
                        </div>
                        <div class="tpod-col-5">
                            <div class="alert alert-danger">
                                <span class="material-icons-outlined close-alert" onclick="ui.closeAlert(this);">close</span>
                                <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                            </div>
                        </div>
                        <div class="tpod-col-6">
                            <div class="alert alert-light">
                                <span class="material-icons-outlined close-alert" onclick="ui.closeAlert(this);">close</span>
                                <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                            </div>
                        </div>
                        <div class="tpod-col-5">
                            <div class="alert alert-dark">
                                <span class="material-icons-outlined close-alert" onclick="ui.closeAlert(this);">close</span>
                                <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                            </div>
                        </div>
                    </div>

                    <h4 class="mt-70">Alerts with Icons </h4>
                    <div class="tpod-row">
                        <div class="tpod-col-12">
                            <div class="alert alert-primary alert-with-icons">
                                <span class="material-icons-outlined icons">warning</span>
                                <span class="material-icons-outlined close-alert" onclick="ui.closeAlert(this);">close</span>
                                <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                            </div>
                        </div>
                        <div class="tpod-col-12">
                            <div class="alert alert-secondary alert-with-icons">
                                <span class="material-icons-outlined icons">error</span>
                                <span class="material-icons-outlined close-alert" onclick="ui.closeAlert(this);">close</span>
                                <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                            </div>
                        </div>
                        <div class="tpod-col-12">
                            <div class="alert alert-success alert-with-icons">
                                <span class="material-icons-outlined icons">new_releases</span>
                                <span class="material-icons-outlined close-alert" onclick="ui.closeAlert(this);">close</span>
                                <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                            </div>
                        </div>
                        <div class="tpod-col-12">
                            <div class="alert alert-info alert-with-icons">
                                <span class="material-icons-outlined icons">dangerous</span>
                                <span class="material-icons-outlined close-alert" onclick="ui.closeAlert(this);">close</span>
                                <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                            </div>
                        </div>
                        <div class="tpod-col-12">
                            <div class="alert alert-warning alert-with-icons">
                                <span class="material-icons-outlined icons">gpp_maybe</span>
                                <span class="material-icons-outlined close-alert" onclick="ui.closeAlert(this);">close</span>
                                <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                            </div>
                        </div>
                        <div class="tpod-col-12">
                            <div class="alert alert-danger alert-with-icons">
                                <span class="material-icons-outlined icons">warning</span>
                                <span class="material-icons-outlined close-alert" onclick="ui.closeAlert(this);">close</span>
                                <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                            </div>
                        </div>
                        <div class="tpod-col-12">
                            <div class="alert alert-light alert-with-icons">
                                <span class="material-icons-outlined icons">warning</span>
                                <span class="material-icons-outlined close-alert" onclick="ui.closeAlert(this);">close</span>
                                <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                            </div>
                        </div>
                        <div class="tpod-col-12">
                            <div class="alert alert-dark alert-with-icons">
                                <span class="material-icons-outlined icons">warning</span>
                                <span class="material-icons-outlined close-alert" onclick="ui.closeAlert(this);">close</span>
                                <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                            </div>
                        </div>
                    </div>

                    <!-- Content : E -->
                </div>

            </div>
        </div>
    </section>
    <script>
        $('document').ready(function() {

            ui.init();

        })
    </script>
</body>

</html>