<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>TPOD</title>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Noto Sans koran -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">



    <link rel="stylesheet" type="text/css" href="../css/styles.css">

    <script src="../js/jquery.min.js"></script>
    <script src="../js/common.js"></script>
</head>

<body>
    <!-- header gnb : s -->
    <header class="tpod-wrapper" id="right-aligned-menu">
        <div class="tpod-header-container">
            <div class="logo">
                <a href="#none">TPOD</a>
            </div>
            <nav class="gnb">
                <ul>
                    <li><a href="#none">HOME</a></li>
                    <li><a href="#none">FEATURES</a></li>
                    <li><a href="#none">ELEMENTS</a></li>
                    <li><a href="#none">PAGES</a></li>
                    <li><a href="#none">PORTFOLIO</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- header gnb : e -->
    <!-- content : s -->
    <section class="tpod-wrapper">
        <div class="tpod-container-fluid tpod-page-title">
            <!-- Page Title : E -->
            <div class="page-title">
                <h1>Avatars</h1>
                <span class="txt">Inspiration comes of working every day.</span>
                <!-- BreadCrumb : S -->
                <div class="breadcrumb">
                    <ul>
                        <li><a href="#">Home</a> </li>
                        <li><a href="#">Elements</a> </li>
                        <li class="active"><a href="#">Avatars</a> </li>
                    </ul>
                </div>
                <!-- BreadCrumb : S -->
            </div>
            <!-- Page Title : E -->
        </div>
        <div class="tpod-container mt-70">
            <div class="tpod-row tpod-flex-nowrap">
                <div class="tpod-col-9 tpod-content">
                    <h4>Default Avatar</h4>
                    <p class="py-10  pb-30 font-size-16 font-weight-light">아바타의 기본형태는 전체가 정사각형의 라운드처리된 50%의 border-radius:50% 입니다.</p>
                    <!-- Content : S -->

                    <!-- <v-avatar color="indigo" size="36">
                        <span class="white--text headline">36</span>
                    </v-avatar>

                    <v-avatar color="teal" size="48">
                        <span class="white--text headline">48</span>
                    </v-avatar>

                    <v-avatar color="orange" size="62">
                        <span class="white--text headline">62</span>
                    </v-avatar> -->
                    <div class="tpod-row justify-space-around">
                        <div class="t-avatar bg-primary" style="width:50px; height:50px;">
                            <span class="text-color-white font-size-20">50</span>
                        </div>
                        <div class="t-avatar bg-secondary" style="width:60px; height:60px;">
                            <span class="text-color-white font-size-30">60</span>
                        </div>
                        <div class="t-avatar bg-success" style="width:90px; height:90px;">
                            <span class="text-color-white font-size-40 material-icons-outlined">
                                favorite
                            </span>
                        </div>
                    </div>
                    <div class="tpod-divider"></div>
                    <h4>T Avatars Border Round 0일때</h4>
                    <p class="py-10 pb-30 font-size-16 font-weight-light">아바타의 기본형태는 전체가 정사각형의 라운드처리된 50%의 border-radius:0 입니다.</p>
                    <div class="tpod-row justify-space-around">
                        <div class="t-avatar bg-primary rounded-0" style="width:50px; height:50px;">
                            <span class="text-color-white font-size-20">50</span>
                        </div>
                        <div class="t-avatar bg-secondary rounded-0" style="width:60px; height:60px;">
                            <span class="text-color-white font-size-30">60</span>
                        </div>
                        <div class="t-avatar bg-success rounded-0" style="width:90px; height:90px;">
                            <span class="text-color-white font-size-40 material-icons-outlined">
                                favorite
                            </span>
                        </div>
                    </div>

                    <div class="tpod-divider"></div>
                    <h4>T Avatars 이미지, 아이콘</h4>
                    <p class="py-10 pb-30 font-size-16 font-weight-light">아바타의 응용 형태는 아이콘, 이미지등 2가지 형태로 되어 있습니다.</p>
                    <div class="tpod-row justify-space-around">
                        <div class="t-avatar bg-primary" style="width:50px; height:50px;">
                            <span class="text-color-white font-size-20 material-icons-outlined">
                                description
                                </span>
                        </div>
                        <div class="t-avatar bg-secondary" style="width:60px; height:60px;">
                            <img src="../images/69499792_2361245780656941_8977146651311341568_n.jpg" />
                        </div>
                        <div class="t-avatar bg-success" style="width:90px; height:90px;">
                            <span class="text-color-white font-size-40 material-icons-outlined">
                                <img src="../images/69499792_2361245780656941_8977146651311341568_n.jpg" />
                            </span>
                        </div>
                    </div>


                    <!-- Content : E -->
                </div>
                <div class="tpod-col-3" id="LNB">
                    <h4>elements</h4>
                    <ul class="tpod-lnb"></ul>
                </div>
            </div>
        </div>
    </section>
    <script>
        $('document').ready(function() {

            ui.init();

        })
    </script>
</body>

</html>