<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>TPOD</title>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Noto Sans koran -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">



    <link rel="stylesheet" type="text/css" href="../css/styles.css">

    <script src="../js/jquery.min.js"></script>
    <script src="../js/common.js"></script>
</head>

<body>
    <!-- header gnb : s -->
    <header class="tpod-wrapper" id="right-aligned-menu">
        <div class="tpod-header-container">
            <div class="logo">
                <a href="#none">TPOD</a>
            </div>
            <nav class="gnb">
                <ul>
                    <li><a href="#none">HOME</a></li>
                    <li><a href="#none">FEATURES</a></li>
                    <li><a href="#none">ELEMENTS</a></li>
                    <li><a href="#none">PAGES</a></li>
                    <li><a href="#none">PORTFOLIO</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- header gnb : e -->
    <!-- content : s -->
    <section class="tpod-wrapper">
        <div class="tpod-container-fluid tpod-page-title">
            <!-- Page Title : E -->
            <div class="page-title">
                <h1>Blockquotes</h1>
                <span class="txt">Inspiration comes of working every day.</span>
                <!-- BreadCrumb : S -->
                <div class="breadcrumb">
                    <ul>
                        <li><a href="#">Home</a> </li>
                        <li><a href="#">Elements</a> </li>
                        <li class="active"><a href="#">Alerts</a> </li>
                    </ul>
                </div>
                <!-- BreadCrumb : S -->
            </div>
            <!-- Page Title : E -->
        </div>
        <div class="tpod-container tpod-grid mt-70">
            <div class="tpod-row">
                <div class="tpod-col-sm-2">col-sm-2</div>
                <div class="tpod-col-sm-10">col-sm-10</div>
            </div>
            <div class="tpod-row">
                <div class="tpod-col-1">col-1</div>
                <div class="tpod-col-1">col-2</div>
                <div class="tpod-col-1">col-3</div>
                <div class="tpod-col-1">col-4</div>
                <div class="tpod-col-1">col-5</div>
                <div class="tpod-col-1">col-6</div>
                <div class="tpod-col-1">col-7</div>
                <div class="tpod-col-1">col-8</div>
                <div class="tpod-col-1">col-9</div>
                <div class="tpod-col-1">col-10</div>
                <div class="tpod-col-1">col-11</div>
                <div class="tpod-col-1">col-12</div>
            </div>
            <div class="tpod-row">
                <div class="tpod-col-1">col-1</div>
                <div class="tpod-col-11">col-2</div>
            </div>
            <div class="tpod-row">
                <div class="tpod-col-1">col-1</div>
                <div class="tpod-col-1">col-2</div>
                <div class="tpod-col-1">col-1</div>
                <div class="tpod-col-1">col-2</div>
            </div>
            <div class="tpod-row">
                <div class="tpod-col-6">col-1</div>
                <div class="tpod-col-6">col-2</div>

            </div>
        </div>
    </section>
</body>
<script>
    //  $('*').css('border', '1px solid #000')
</script>

</html>